<% provide(:title, "Pricing") %>

<h1>Pricing</h1>
	<p>
	  For the amazing price of $1 per month, you can get a poor quality Twitter lookalike just for you and your friends! Upload pictures, share commentary about your boring lives, this app lives for it.
	</p>

	<p>
	  We offer a COMPLETELY FREE trial for two weeks to test the waters. If for any reason you're unhappy with the service, the trial will end in two weeks.
	</p>

	<p>
	  If you'd like to continue using Twotter, please add a credit card to your account.
	</p>

	<p>
	  <a href="">Questions?</a> Don't contact us!
	</p>