<% provide(:title, "Resend my Activation Email") %>
<h1>Resend my Activation Email</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_tag(resend_activation_path, method: 'post') do %>
			<%= label_tag(:q, "Enter your email:") %>
			<%= text_field_tag(:q) %>
			<%= submit_tag("Submit") %>
		<% end %>
	</div>
</div>