<html>
  <head>
    <title>Chargify</title>

    <script src="https://js.chargify.com/latest/chargify.js"></script>
  </head>

  <body>
    <h1>Chargify</h1>

    <form class="host-form" id='host-form'>
      <div id="chargify1"></div>

      <div id="chargify2"></div>

      <div id="chargify3"></div>
      
      <div id="chargify4"></div>

      <div id="chargify5"></div>

      Hidden Token: <input id="host-token" disabled />

      <button type="submit" class="host-button">Submit Host Form</button>
    </form>

    <a href="http://railsapps.github.io/rails-javascript-include-external.html">Rails JS guide</a>

    <script src="app/assets/javascripts/load.js"></script>
    <script src="app/assets/javascripts/submit.js"></script>
  </body>
</html>